<h1>Add an RSS feed</h1>
<form action="/rss_feeds" method="post">
  <label for="url">RSS feed URL:</label>
  <input type="text" id="url" name="url">
  <br>
  <input type="submit" value="Submit">
</form>
